altgraph==0.17
arviz==0.7.0
asteval==0.9.18
cftime==1.1.2
cycler==0.10.0
et-xmlfile==1.0.1
fbs==0.8.6
future==0.18.2
h5py==2.10.0
jdcal==1.4.1
kiwisolver==1.2.0
llvmlite==0.31.0
lmfit==1.0.0
macholib==1.14
matplotlib==3.2.1
netCDF4==1.5.3
numba==0.48.0
numpy==1.18.3
openpyxl==3.0.3
packaging==20.3
pandas==1.0.3
patsy==0.5.1
pefile==2019.4.18
PyInstaller==3.4
pyparsing==2.4.7
PyQt5==5.9.2
python-dateutil==2.8.1
pytz==2020.1
pywin32-ctypes==0.2.0
PyYAML==5.3.1
scipy==1.4.1
sip==4.19.8
six==1.14.0
tqdm==4.45.0
uncertainties==3.1.2
xarray==0.15.1
xlrd==1.2.0
